<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="ua.com.sofon.workoutlogger"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_workout_logger1"
		android:label="@string/app_name"
		android:theme="@style/WorkOutTheme">
		<activity
			android:name=".ui.BaseActivity"
			android:label="@string/app_name">

		</activity>
		<activity
			android:name=".ui.EditExerciseActivity"
			android:label="@string/title_exercise">
		</activity>
		<activity
			android:name=".ui.ExercisesActivity"
			android:label="@string/title_exercises">
		</activity>
		<activity
			android:name=".ui.WorkoutsActivity"
			android:label="@string/title_workouts">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.EditWorkoutActivity"
			android:label="@string/title_workout">
		</activity>
		<activity
			android:name=".ui.SettingsActivity"
			android:label="@string/title_settings">
		</activity>
	</application>

</manifest>
