<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="ua.com.sofon.workoutlogger"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_workout_logger"
		android:label="@string/app_name"
		android:theme="@style/WorkoutTheme">
		<activity
			android:name=".ui.BaseActivity"
			android:label="@string/app_name">

		</activity>
		<activity
			android:name=".ui.ExerciseEditActivity"
			android:label="@string/title_exercise">
		</activity>
		<activity
			android:name=".ui.ExercisesActivity"
			android:label="@string/title_exercises">
		</activity>
		<activity
			android:name=".ui.WeightActivity"
			android:label="@string/title_weight">
		</activity>
		<activity
			android:name=".ui.StatisticsActivity"
			android:label="@string/title_statistics">
		</activity>
		<activity
			android:name=".ui.WorkoutsActivity"
			android:label="@string/title_workouts">
		</activity>
		<activity
			android:name=".ui.TrainingsActivity"
			android:label="@string/title_training">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.WorkoutEditActivity"
			android:label="@string/title_workout">
		</activity>
		<activity
			android:name=".ui.SettingsActivity"
			android:label="@string/title_settings">
		</activity>
		<activity
			android:name=".ui.LogsActivity"
			android:label="@string/title_app_logs">
		</activity>
	</application>

</manifest>
